
/*Global */
h1,h2,h3,h4,h5{font-family: 'Exo 2', sans-serif;font-weight: bold;}
body{background:#000;}
p{
  color: #fff !important;
  font-family: 'Quicksand', helvetica, arial, sans-serif;
  font-size: 17px;
}
.modal-body > p {}

/*Width Classes*/
.wide-50{width: 50%;float: left;}
.wide-33{width: 33.33%;float: left;}
.wide-100{width: 100%;float: left;}
.keyhole-block{
	width: 100%; 
	padding-top: 0px;

}
/*Keys Wrappers*/
.key-wrapper{
	/*width: 150px;*/
	border:#fff solid 1px;
	-webkit-transition: all 1s linear;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 1s linear; 
    margin-bottom: 10px;
}
.key-wrapper > img {
  width: 30px;
  -webkit-transform: rotate(-45deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(-45deg);  /* IE 9 */
          transform: rotate(-45deg);  /* Firefox 16+, IE 10+, Opera */
}
.key-wrapper > .title{
	height: 30px; 
	width: 100%;
	margin-top: -20px;
	border-bottom: solid 1px #fff;
}
#pink > .title{background: #ad0067;}
#blue > .title{background: #0e729c;}
#yellow > .title{background: #bab107;}
#green > .title{background: #0a7541;}
.title * a > i{
	color: #fff; 
	font-size: 15px;
	margin-left: 5px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: all 1s linear;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 1s linear; 
}
.title * a > i:hover{ opacity: 1}
.key-wrapper > .inventory{
	height: 30px; 
	width: 100%;
	background:#333;
	
}

.key-wrapper * h3 {
	color: #fff;
  	transition: all 1s linear;
  	font-size: 22px;

}
.key-wrapper:hover{background-color: #fff;}
.key-wrapper:hover h5{color: #000;}
.key-wrapper > i {
	color: #fff;
	font-size: 40px;
	margin: 30px;
}
.select > i {color:#fff !important;}

#treasure * .next, #treasure * .prev {margin-top: -80px;font-size: 20px;}
#reset{color: #fff;}
#tooltip{margin-top: 70px;color: #fff;}

/*Specfic Keys*/
#pink:hover{border:#ed075d solid 1px;}
.pink-border{border:#ed075d solid 3px !important;}
#pink.select{background-color:#ed075d; }
#pink:hover > i {color:#ed075d;}
#pink > i {color:#ed075d;}
.pink{background-color:#ed075d !important; }


#yellow:hover{border:#e6e83c solid 1px;}
.yellow-border{border:#e6e83c solid 3px !important;}
#yellow.select{background-color:#e6e83c; }
#yellow:hover > i {color:#e6e83c;}
#yellow > i {color:#e6e83c;}
.yellow  {background-color:#e6e83c !important;}

#blue:hover{border:#0893d7 solid 1px;}
.blue-border{border:#0893d7 solid 3px !important;}
#blue.select{background-color:#0893d7; }
#blue:hover > i {color:#0893d7;}
#blue > i {color:#0893d7;}
.blue  {background-color:#0893d7 !important;}

#green:hover{border:#0ad100 solid 1px;}
.green-border{border:#0ad100 solid 3px !important;}
#green.select{background-color:#0ad100; }
#green:hover > i {color:#0ad100;}
#green > i {color:#0ad100;}
.green  {background-color:#0ad100 !important;}


/*Vault */
#box-container{
	height: 400px;
	margin-top: 50px;
	-webkit-box-shadow:  0px 0px 50px 0px #0fb5fe;
	-moz-box-shadow:     0px 0px 50px 0px #0fb5fe;		
	box-shadow:          0px 0px 50px 0px #0fb5fe;


}
.prize{
	margin-top: 0px;
}
.prizes{float: left;}
#top-lock,#bottom-lock{
	height: 200px;
	border:solid 1px #fff;
	-webkit-transition-duration: .5s; /* Safari */
    transition-duration: .5s;
    -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-out;

}
#top-lock{
	background:#222; 
	/*background:url('../img/top.png') bottom center !important;*/
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	border-top:solid 1px #fff;
	background:url('../img/top.png') ;
	border-bottom:solid 1px #fff;
	background-size: 100%;

}
.openTop{
	 background-position: 0px -100px !important; 
}
.openBottom{
	 background-position: 0px 100px !important; 
}

#bottom-lock{
	background:#111;
	background:url('../img/back.png') ; 
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}
#treasure{
	background:#0fb5fe;
	height: 0px;
	-webkit-box-shadow: inset 0px 0px 25px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 25px 0px rgba(255, 255, 255, 1);		
	box-shadow:         inset 0px 0px 25px 0px rgba(255, 255, 255, 1);
}

.prize > h2{
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
	overflow: scroll;
}

#keyhole{
	background-position: 50%;
	display: block;
	border: solid 3px #000;
	position:relative;
	margin-right: auto;
	margin-left: auto;
	padding-top: -10px;
	margin-top: 50px;
	background:#000;
	height: 100px; 
	width: 100px; 
	z-index: 999;
	transition: all 1s linear;
	color:#fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
#keyhole > img {width:60px;}

#keyhole-wrapper{
	background:url('../img/keyhole-blank.png');
	background-size: 100%;
	height: 200px; 
	width: 200px; 
	margin-bottom: -200px;
	margin-top: -100px;
	border:solid 1px #fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	display: block;
	margin-right: auto;
	margin-left: auto;


}

.keyfade{
	    margin-top:100px !important;
	    opacity: 0;
	    margin-bottom: -100px !important; 
}


.pink-pulse{
	-webkit-animation: pinkPulseAnimation 3s infinite ease-in-out;
	-moz-animation: pinkPulseAnimation 3s infinite ease-in-out;
	-o-animation: pinkPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}
@-moz-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}
@-o-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}

.yellow-pulse{
	-webkit-animation: yellowPulseAnimation 3s infinite ease-in-out;
	-moz-animation: yellowPulseAnimation 3s infinite ease-in-out;
	-o-animation: yellowPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}
@-moz-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}
@-o-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}

.green-pulse{
	-webkit-animation: greenPulseAnimation 3s infinite ease-in-out;
	-moz-animation: greenPulseAnimation 3s infinite ease-in-out;
	-o-animation: greenPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}
@-moz-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}
@-o-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}


.blue-pulse{
	-webkit-animation: bluePulseAnimation 3s infinite ease-in-out;
	-moz-animation: bluePulseAnimation 3s infinite ease-in-out;
	-o-animation: bluePulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}
@-moz-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}
@-o-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}



/* Animation */


.spin-full {
	-webkit-animation: spinfull 1.2s 1 ;
	-moz-animation: spinfull 1.2s 1 ;
	-o-animation: spinfull 1.2s 1 ;
}

@-webkit-keyframes spinfull {
	0%  { -webkit-transform: rotate(0deg);}	
	100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinfull {
	0%  { -moz-transform: rotate(0deg);}	
	100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spinfull {
	0%  { -o-transform: rotate(0deg);}	
	100% { -o-transform: rotate(360deg);}
}






.spin {
	-webkit-animation: spinAnimation 8s 1 ;
	-moz-animation: spinAnimation 8s 1 ;
	-o-animation: spinAnimation 8s 1 ;
}

@-webkit-keyframes spinAnimation {
	0%  { -webkit-transform: rotate(0deg);}
	20% { -webkit-transform: rotate(460deg);}
	40% { -webkit-transform: rotate(460deg);}
	60% { -webkit-transform: rotate(-460deg);}
	80% { -webkit-transform: rotate(-460deg);}
	100% { -webkit-transform: rotate(0deg);}
	/*100% { -webkit-transform: rotate(0deg);}*/

}
@-moz-keyframes spinAnimation {
	0%  { -moz-transform: rotate(0deg);}
	20% { -moz-transform: rotate(460deg);}
	40% { -moz-transform: rotate(460deg);}
	60% { -moz-transform: rotate(-460deg);}
	80% { -moz-transform: rotate(-460deg);}
	100% { -moz-transform: rotate(0deg);}
	/*100% { -moz-transform: rotate(0deg);}*/

}
@-o-keyframes spinAnimation {
	0%  { -o-transform: rotate(0deg);}
	20% { -o-transform: rotate(460deg);}
	40% { -o-transform: rotate(460deg);}
	60% { -o-transform: rotate(-460deg);}
	80% { -o-transform: rotate(-460deg);}
	100% { -o-transform: rotate(0deg);}
	/*100% { -o-transform: rotate(0deg);}*/

}


/*Modals*/
.blue-gradient {
    background: rgba(19, 151, 210, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(19, 151, 210, 1) 0%, rgba(19, 151, 210, 1) 50%, rgba(104, 189, 226, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19, 151, 210, 1)), color-stop(50%, rgba(19, 151, 210, 1)), color-stop(100%, rgba(104, 189, 226, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(19, 151, 210, 1) 0%, rgba(19, 151, 210, 1) 50%, rgba(104, 189, 226, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(19, 151, 210, 1) 0%, rgba(19, 151, 210, 1) 50%, rgba(104, 189, 226, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(19, 151, 210, 1) 0%, rgba(19, 151, 210, 1) 50%, rgba(104, 189, 226, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(19, 151, 210, 1) 0%, rgba(19, 151, 210, 1) 50%, rgba(104, 189, 226, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1397d2', endColorstr='#68bde2', GradientType=1);
}

.modal-content{
  background-color: #000;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.btn_secondary {
  background: transparent !important;
  border: 1px #ffffff solid;
  color: #ffffff;
  padding: 10px;
  border-radius: 0 !important;
  height: auto !important;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

.btn_primary {
  border: 1px #ffffff solid;
  color: #ffffff;
  padding: 10px;
  border-radius: 0 !important;
  height: auto !important;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

.close {
  float: right;
  font-size: 35px;
  margin-top: -7px !important;
  color: #000;
  text-shadow:none; 
  filter: alpha(opacity=20);
  opacity: .8; 
}


/*Responsive*/

@media(max-width:767px){
/*	.key-wrapper{
		width: 60px;
		height: 60px;
	}
	.key-wrapper * img {
		width: 20px;
		margin-left: 10px;
		margin-top: -15px;
	}
	.key-wrapper * h5{
	  font-size: 15px;
	  margin-top: 2px;
	  margin-left: -2px;
	}*/
}