
/*Global */
h1,h2,h3,h4,h5{font-family: 'Exo 2', sans-serif;font-weight: bold;}
body{background:#000;}

/*Width Classes*/
.wide-50{width: 50%;float: left;}

.wide-33{width: 33.33%;float: left;}
.wide-100{width: 100%;float: left;}
.keyhole-block{
	width: 50%; 
	padding-top: 10px;

}
/*Keys Wrappers*/
.key-wrapper{
	width: 100px;
	height: 100px; 
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:#fff solid 1px;
	transition: all 1s linear;
	padding: 20px 0px;
}
.key-wrapper * img {
  width: 30px;
  margin-left: 28px;
  margin-top: -8px;

}
.key-wrapper * h5 {
	color: #fff;
  	transition: all 1s linear;
  	margin-top: 14px;
  	font-size: 22px;
  	margin-right: 9px;
  	float: right;
}
.key-wrapper:hover{background-color: #fff;}
.key-wrapper:hover h5{color: #000;}
.key-wrapper > i {
	color: #fff;
	font-size: 40px;
	margin: 30px;
}
.select > i {color:#fff !important;}

#treasure * .next, #treasure * .prev {margin-top: 80px;font-size: 20px;}
#reset{color: #fff;}


/*Specfic Keys*/
#pink:hover{border:#ed075d solid 1px;}
#pink.select{background-color:#ed075d; }
#pink:hover > i {color:#ed075d;}
#pink > i {color:#ed075d;}

.pink{background-color:#ed075d !important; }


#yellow:hover{border:#e6e83c solid 1px;}
#yellow.select{background-color:#e6e83c; }
#yellow:hover > i {color:#e6e83c;}
#yellow > i {color:#e6e83c;}

.yellow  {background-color:#e6e83c !important;}

#blue:hover{border:#0893d7 solid 1px;}
#blue.select{background-color:#0893d7; }
#blue:hover > i {color:#0893d7;}
#blue > i {color:#0893d7;}

.blue  {background-color:#0893d7 !important;}

#green:hover{border:#0ad100 solid 1px;}
#green.select{background-color:#0ad100; }
#green:hover > i {color:#0ad100;}
#green > i {color:#0ad100;}

.green  {background-color:#0ad100 !important;}


/*Vault */
#box-container{
	height: 400px;
	margin-top: 50px;
	-webkit-box-shadow:  0px 0px 50px 0px #0fb5fe;
	-moz-box-shadow:     0px 0px 50px 0px #0fb5fe;		
	box-shadow:          0px 0px 50px 0px #0fb5fe;


}
.prize{
	margin-top: -150px;
}
.prizes{float: left;}
#top-lock,#bottom-lock{height: 200px;border:solid 1px #fff;}
#top-lock{
	background:#222; 
	background:url('../img/top.png');
	background-size: 100%;
	background-repeat: no-repeat;
/*	border-top:solid 1px #fff;
	border-bottom:solid 1px #fff;*/
}
#bottom-lock{
	background:#111;
	background:url('../img/back.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#treasure{
	background:#0fb5fe;
	height: 0px;
	-webkit-box-shadow: inset 0px 0px 25px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 25px 0px rgba(255, 255, 255, 1);		
	box-shadow:         inset 0px 0px 25px 0px rgba(255, 255, 255, 1);
	/*overflow: scroll;*/
}

.prize > h2{
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
	overflow: scroll;
}
#keyhole{
	background:url('../img/top.png');
	background-size: 300px;
	background-position: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	/*background:#000;*/
	height: 100px; 
	width: 100px; 
	margin-bottom: 0px;
	margin-top: -50px;
	border:solid 1px #fff;
	transition: all 1s linear;
	color:#fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	border-radius: 50%;
}

.keyfade{
	    margin-top:100px !important;
	    opacity: 0;
	    margin-bottom: -100px !important; 
}


.pink-pulse{
	-webkit-animation: pinkPulseAnimation 3s infinite ease-in-out;
	-moz-animation: pinkPulseAnimation 3s infinite ease-in-out;
	-o-animation: pinkPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}
@-moz-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}
@-o-keyframes pinkPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #ed075d;
		-moz-box-shadow:  0px 0px 0px 0px #ed075d;
		box-shadow:  0px 0px 0px 0px #ed075d;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #ed075d;
		-moz-box-shadow:  0px 0px 120px -12px #ed075d;
		box-shadow:  0px 0px 120px -12px #ed075d; 
	}	 
}

.yellow-pulse{
	-webkit-animation: yellowPulseAnimation 3s infinite ease-in-out;
	-moz-animation: yellowPulseAnimation 3s infinite ease-in-out;
	-o-animation: yellowPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}
@-moz-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}
@-o-keyframes yellowPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #e6e83c;
		-moz-box-shadow:  0px 0px 0px 0px #e6e83c;
		box-shadow:  0px 0px 0px 0px #e6e83c;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #e6e83c;
		-moz-box-shadow:  0px 0px 120px -12px #e6e83c;
		box-shadow:  0px 0px 120px -12px #e6e83c; 
	}	 
}

.green-pulse{
	-webkit-animation: greenPulseAnimation 3s infinite ease-in-out;
	-moz-animation: greenPulseAnimation 3s infinite ease-in-out;
	-o-animation: greenPulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}
@-moz-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}
@-o-keyframes greenPulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0ad100;
		-moz-box-shadow:  0px 0px 0px 0px #0ad100;
		box-shadow:  0px 0px 0px 0px #0ad100;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0ad100;
		-moz-box-shadow:  0px 0px 120px -12px #0ad100;
		box-shadow:  0px 0px 120px -12px #0ad100; 
	}	 
}


.blue-pulse{
	-webkit-animation: bluePulseAnimation 3s infinite ease-in-out;
	-moz-animation: bluePulseAnimation 3s infinite ease-in-out;
	-o-animation: bluePulseAnimation 3s infinite ease-in-out;
} 

@-webkit-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}
@-moz-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}
@-o-keyframes bluePulseAnimation {
	0% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}
	50% { 
		-webkit-box-shadow:  0px 0px 0px 0px #0893d7;
		-moz-box-shadow:  0px 0px 0px 0px #0893d7;
		box-shadow:  0px 0px 0px 0px #0893d7;
	 }
	100% { 
		-webkit-box-shadow:  0px 0px 120px -12px #0893d7;
		-moz-box-shadow:  0px 0px 120px -12px #0893d7;
		box-shadow:  0px 0px 120px -12px #0893d7; 
	}	 
}



/* Animation */
.spin {
	-webkit-animation: spinAnimation 1s 1 ease-in-out;
	-moz-animation: spinAnimation 1s 1 ease-in-out;
	-o-animation: spinAnimation 1s 1 ease-in-out;
}

@-webkit-keyframes spinAnimation {
	from { -webkit-transform: rotate(4deg)  translate(0px); }
	to { -webkit-transform: rotate(360deg)  translate(0px); }
}
@-moz-keyframes spinAnimation {
	from { -moz-transform: rotate(4deg)  translate(0px); }
	to { -moz-transform: rotate(360deg)  translate(0px); }
}
@-o-keyframes spinAnimation {
	from { -o-transform: rotate(4deg)  translate(0px); }
	to { -o-transform: rotate(360deg)  translate(0px); }
}





/*Responsive*/

@media(max-width:767px){
	.key-wrapper{
		width: 60px;
		height: 60px;
	}
	.key-wrapper * img {
		width: 20px;
		margin-left: 10px;
		margin-top: -15px;
	}
	.key-wrapper * h5{
	  font-size: 15px;
	  margin-top: 2px;
	}
}